
.navbar-inverse .navbar-nav > li > a.active {
    background: #ddd;
    text-decoration: none;
}

.form-label {
}

.form-input {
}

.form-input-error {
    color: red;
}

.form-input-error-copy {
    color: red;
    margin-left: 11px;
}
