.tree-container {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

.goal-title {
    color: black;
    font-size: 20px;
}

.goal-item {
    color: black;
    margin-bottom: 0px;
}

.goal-item.done > label {
    text-decoration: line-through;
    opacity: 0.5;
}

.goal-list-view .goal-input {
    border: 0;
    border-radius: 0;
    background: transparent;
    color: black;
    margin-top: 10px;
}

.goal-list-view .goal-input:focus {
    box-shadow: none;
    background: transparent;
    color: black;
}

.goal-inline-input {
    border: 0;
    border-radius: 0;
    background: transparent;
    color: black;
    margin-right: auto;
    resize: none;
    margin-left: 8px;
    cursor: move;
    min-width: 50px;
    width: 300px;
    border-bottom: 1px solid;
    margin-right: 20px;
}

.goal-inline-input-label {
    color: black;
}

.goal-inline-input::-webkit-scrollbar {
    width: 0px;
}

.goal-inline-input:focus-visible {
    outline: none;
}

.goal-inline-input:focus {
    box-shadow: none;
    background: transparent;
    color: black;
    outline: none;
    cursor: text;
}


.goal-input:focus-visible {
    outline: none;
}


.goal-item-wrapper {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    color: black;
    position: relative;
}

.goal-item-expandable {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
}

.goal-item input {
    font-size: 13px;
    border-radius: 2px !important;
    vertical-align: middle;
}

.goal-item-edit {
    visibility: hidden;
    cursor: pointer;
}

.goal-item-wrapper:hover > .goal-item-edit {
    visibility: visible;
}

.rstcustom__rowContents {
    align-items: flex-start;
}

.goal-list-view ul {
    list-style: none;
    color: black;
    padding-left: 0;
}


.btn-goal-mobile {
    display: none;
}

.goal-category-selector {
    position: absolute;
    left: 0;
    top: 35px;
    color: black;
    background: #333;
    z-index: 999;
    width: 240px;
    border-radius: 4px;
    padding: 8px 0px;
    font-size: 15px;
}

.goal-category-selector::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #333 transparent;
    top: -7px;
    left: 23px;
    position: absolute;
}

.goal-category-selector > div {
    padding: 2px 8px;
}

.goal-category-selector > div:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.1);
}

.goal-delete-btn {
    cursor: pointer;
    color: black;
    visibility: hidden;
}

.rstcustom__node:hover .goal-delete-btn {
    visibility: visible;
}

.rstcustom__row {
    width: 100%;
}
.rstcustom__rowLabel {
    margin-right: auto;
    width: 100%;
}

.rstcustom__collapseButton:hover::after, .rstcustom__expandButton:hover::after {
    border-top-color: gray
}

.rstcustom__collapseButton:focus::after, .rstcustom__expandButton:focus::after {
    filter: none;
}

@media only screen and (max-width: 600px) {
    .goal-list-view {
        width: calc(100% - 56px);
        margin: 0 auto;
    }

    .goal-list-view::before{
        display: none;
    }
    .btn-goal-mobile {
        display: block;
        margin: 0 auto;
        background: transparent;
        border: 0px;
        color: black;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .btn-goal {
        display: none;
    }
}

