.mini-task-list {
  padding: 4px;
}

.mini-task-list button {
  border-width: 0;
  background: none;
}

.mini-task-list button span {
  text-decoration: underline;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.mini-task-list p {
  text-align: left;
  color: white;
  margin-bottom: 0;
  line-height: 1.2;
  padding-left: 6px;
}