.CalendarDashboard > div {
  padding: 45px;
}

.CalendarDashboard .rbc-toolbar-label {
  font-size: 2.0rem;
}

@media screen and (max-width: 600px) {
  .CalendarDashboard > div {
    padding: 28px;
  }
}