.home-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://coach.ai/images/background.png');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.home-container h1 {
  font-size: 3.1rem;
}
