.home-container {
  width: 100%;
  height: 840px;
  background-image: url('https://cdn.britannica.com/15/100615-050-01ADBBDE/Crater-Lake-Cascade-Range-Oregon.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
