.home-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://coach.ai/images/background.png');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.home-container .goal-box-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 125px;
}

.home-container .goal-box {
  float: right;
  background: #5489D9;
  margin-right: 10px;
  margin-top: 6px;
  width: 300px;
  text-align: center;
}

.home-container h1 {
  font-size: 3.1rem;
}

.home-container .rbc-calendar {
  background: white;
  overflow-y: auto;
}

.home-container .rbc-time-view {
  width: 250px;
}

.home-container .rbc-time-view .rbc-time-gutter {
  font-size: 12px;
}

.home-container .rbc-time-header {
  display: none;
}

.home-container .today-info {
  position: absolute;
  width: 250px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.home-container .home-description {
  clear: both;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-right: 125px;
  flex: 1;
}

.home-container .today-goal {
  text-align: center;
  background: #5489D9;
}

.home-description .event-input {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: white;
  font-size: 40px;
  color: white;
  font-weight: 400;
  padding: 0px;
}

.home-description .event-input:focus {
  box-shadow: none;
  background: transparent;
  border-color: white;
  color: white;
}

.home-description .event-input::placeholder {
  color: #eee;
  font-size: 24px;
  text-align: center;
}

.home-description .event-input:last-child::placeholder {
  color: #ddd;
}

.home-description .today-top-goal .form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding-left: 0;
  margin-top: 10px;
}

.home-description .today-top-goal .form-check .form-check-input {
  float: initial;
  width: 0.85em;
  height: 0.85em;
  margin-left: 28px;
  margin-top: 0px;
  font-size: 28px;
  border-radius: 3px;
}

.home-description .today-top-goal .form-check .form-check-input:not(:checked) {
  background: transparent;
  border: 2px solid white;
}

.home-description .today-top-goal .form-check .form-check-label {
  padding-left: 46px;
  line-height: 1;
}

.todo-container {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.calendar-click {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .home-container .goal-box-container  {
    margin-right: 0px;
    flex-direction: column;
  }
  .home-container .today-info {
    position: inherit;
    width: 100%;
    padding: 0 15px;
  }

  .home-container .rbc-time-view {
    width: 100%;
  }

  .home-container .home-description {
    margin-right: 0;
    height: 450px;
    margin: 50px 0;
    padding: 0 10px;
  }

  .home-description .event-input::placeholder {
  color: #eee;
  font-size: 20px;
  text-align: center;
}
}
