.login-container {
  padding-top: 90px;
}

.login-container .inner {
  width: 390px;
  opacity: 100%;
  padding: 30px 30px 30px 30px;
  border-width: 3px;
  border-radius: 25px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.login-container .inner * {
  opacity: 100%;
  margin-left: auto;
  margin-right: auto;
}

.login-container .text-style {
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  font-size: 17px;
  color: #929292;
  text-align: center;
  padding: 5px 0 5px 0;
}

.login-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #929292;
  padding: 17px 0px;
  text-align: center;
}

.login-container .btn-social {
  width: 100%;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: 1px solid #E3E3E3;
  color: #929292;
  font-weight: 600;
}