.register-container {
  padding-top: 90px;
}

.register-container .inner {
  width: 390px;
  opacity: 100%;
  padding: 30px 30px 30px 30px;
  border-width: 3px;
  border-radius: 25px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.register-container .inner * {
  opacity: 100%;
  margin-left: auto;
  margin-right: auto;
}

.register-container .text-style {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  font-size: 17px;
  color: #929292;
  text-align: center;
  padding: 5px 0 5px 0;
}

.register-container .header-style {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #4B4B4B;
}