.set-goal-container {
    background-image: url('https://coach.ai/assets/image/goal_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}