.resetForm-container {
}

.resetForm-container .form-group {
    border-width: 1px;
    border-radius: 10px;
 }

 .resetForm-container .full-width {
   width: 100%;
   margin: 5px 0 3px 0;
 }

 .resetForm-container .alignleft {
   float: left;
 }

 .resetForm-container .alignright {
   float: right;
 }

 .resetForm-container .text-style {
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 15px;
   text-decoration-line: underline;
   color: #929292;
 }
